<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Hello. I am a veterinary technician working at a local animal hopsital. I currently work in the surgical unit with my responsibilities including inducing and monitoring anesthesia, intubating, occasionally scrubbing in and assisting, and patient recovery. </p>
      </div>
      <div class="col-lg-4">
        <p>I think it would be interesting to pursue a career in computer science in veterinary medicine. There is currently <a href="https://www.vetscanimagyst.com/">work with AI technology</a> to help read different types of cytologies and pathogenic tests for diagnostic purposes.  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
  <html>
    <!DOCTYPE html>
    <html>
    <head>
    <style>
    th, td {
      border-style:solid;
      border-color: #ffffff;
    }
    </style>
    </head>
    <body>
    
    <h2>Table With Border Color</h2>
    
    <p>Use the CSS border-color property to set the color of the borders.</p>
    
    <table style="width:100%">
      <tr>
        <th>Animated</th>
        <th>Live Action</th> 
        <th>Mix</th>
      </tr>
      <tr>
        <td>Whisper of the Heart</td>
        <td>The Lord of the Rings</td>
        <td>Who Framed Roger Rabbit?</td>
      </tr>
      <tr>
        <td>Shrek</td>
        <td>Rear Window</td>
        <td>Space Jam</td>
      </tr>
      <tr>
        <td>Howl's Moving Castle</td>
        <td>Clue</td>
        <td>Paddington</td>
      </tr>
    </table>
    
    </body>
    </html>
</section>
